*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    width: 100%;
    min-height: 100vh;
    background-color:#d5ff40;
}
main{
   
    width: 100%;
    background-color: #d5ff40;
    color: #d5ff40;
}
nav{
    padding: 45px 80px;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav h2{
    font-weight: 400;
    font-size: 44px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
    background-color: black;
     color: #d5ff40;
    height: 40px;
   
   
}
section{
    padding: 60px 50px;

    color: black;
}
section .hero-text1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.hero-text1{
    font-size: 200px;
    font-weight: 900px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.hero-text2{
    display: flex;
    font-size: 200px;
    font-weight: 900px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hero-text1 .video{
    background-color: black;
    height: 100px;
    width: 500px;
    border-radius: 50px;
    margin-top: 100px;
    background-image:url(PLay1.jpg) ;
    background-size: cover;
    background-position: 30px;
    padding: 6px;
  

}
div{
    line-height: 0.8;
}
p{
    font-size: 30px;
    width: 500px;
    text-transform: uppercase;
    text-align: end;
    margin-left: 800px;
    margin-top: -120px;
}
.video .play{
    background-color:white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: -2px;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play:hover{
    color: #f538e8;
}
.image1{
    height: 600px;
    width: 90%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-image:url(image2.png) ;
    background-size: cover;
    margin-left: 72px;
    position: relative;

 
} 
.play .i{
    font-size: 50px;
    color: white;
}


.arrow{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    right: 7%;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.arrow i{
    font-size: 180px;
   
}
.arrow:hover{
    color: rgb(233, 42, 243);
}
.best{
    background-color: aqua;
}

#ideas{
    padding-top: 60px;
    font-size: 40px;
}
.ri-shining-line{
    font-size: 60px;
}
.hover1{
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding:20px 0;
}
#ideas{
    display: inline-block;
    font-size: 8vw;
    color: #d5ff40;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    animation: scrollText 15s linear infinite;
    padding-bottom: 35px;

}
@keyframes scrollText{
    from{transform: translateX(0);}
    to{ transform: translateX(-50%);}
}
.footer1{
   
    height: 3000px;
    width: 100%;
    background-color: rgb(23, 23, 23);
}
.heading1{
    color: #909090;
   font-size: 100px;
   padding-left: 90px;
   padding-top: 110px;
   font-weight: 900px;
}
#heading2{
 
    font-size: 15px;
    line-height: 1.6;
    margin-left: 150px;
    margin-top: 30px;
    width: 450px;
    display: block;
   color: #909090;
}

.devlop{
    height: 50px;
    width:200px;
    /* Shorthand: property | duration | timing-function | delay */


   
    display: flex;
    border: 3px solid white;
    margin-left: 1050px;
    margin-top: -80px;
    border-radius: 30px; 
    padding-left: 35px;
    padding-top: 16px;
 

}
.market{
      height: 50px;
    width:200px;
    display: flex;
    border: 3px solid white;
    margin-left: 1050px;
  margin-top: 30px;
    border-radius: 30px; 
    padding-left: 35px;
    padding-top: 16px;
}
.seo{
   
       height: 50px;
    width:200px;
    
    display: flex;
    border: 3px solid white;
    margin-left: 1050px;
  margin-top: 30px;
    border-radius: 30px; 
    padding-left: 35px;
    padding-top: 16px;
    color: #d5ff40;
}
svg{
    text-align: center;
    padding-bottom: 12px;
}
.ui{
    color: #909090;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ui:hover{
    color: #d5ff40;
}
.ui2{
    color: #909090;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ui2:hover{
     color: #1bbbe3;
}
.ui3{
    color: #909090;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ui3:hover{
    color: rgb(42, 224, 32);
}
.ui9{
    color: #909090;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ui9:hover{
    color: #dc3db2;
}
.conatiner1{
    height: 700px;
    width: 88%;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
    margin-top: 200px;

}
.devlop:hover{
    color:rgb(242, 31, 31);
}
.market:hover{
    color: rgb(37, 37, 236);
}
.seo:hover{
    color: #ef47d6;
}
#heading2:hover{
    color: #d5ff40;
}


.pill {
  display: inline-block;
  width: 230px;
  height: 70px;
  background-color: #909090; /* You can add images here later */
  border-radius: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
  background-image:url(nigel-hoare--2DXD39PylI-unsplash.jpg) ;
  background-size: cover;
}

/* This creates the yellow arrow circle */
.arrow1 {
  display: inline-block;
  width: 100px;
  height: 65px;
  background-color:#d5ff40;
  color: #909090;
  border-radius: 50px;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;

}
.hero-text22{
    font-size: 75px;
    line-height: 1.3;
    padding-bottom: 30px;
    color: #909090;

}
#textproject{
    color: #909090;
    font-size: 100px;
    margin-top: 120px;
    margin-left: 90px;

}
.textprojects7{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #909090;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 900px;
    margin-top: -90px;
   padding-left: 80px;
}
.d1{
   
    margin-left: 40px;
    display: inline-block;
        height: 50px;
    width:50px;
     height: 50px;
    width:150px;
    display: flex;
    border: 3px solid #909090 ;
    border-radius: 30px; 
    padding-left: 45px;
    padding-top: 16px;
    font-size: 20px;
    padding-bottom: 30px;
   margin-left: 100px;
   margin-top: 45px;
   padding-bottom: 35px;
}
.d1:hover{
    color: black;
    background-color:#d5ff40;
}
.d2{
    display: flex;
    text-align: center;
    justify-content: center;
   
    height: 57px;
    width: 190px;
    border-radius: 30px;
    border: 3px solid #909090;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 900px;
    margin-left: 280px;
    margin-top: -57px;
}
.d2:hover{
     color: black;
    background-color:#d5ff40;
}
.d3{
     display: flex;
    text-align: center;
    justify-content: center;
   
    height: 57px;
    width: 190px;
    border-radius: 30px;
    border: 3px solid #909090;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 900px;
    margin-left: 500px;
    margin-top: -57px;
}
.d3:hover{
        color: black;
    background-color:#d5ff40;
}
.d4{
     display: flex;
    text-align: center;
    justify-content: center;
   
    height: 57px;
    width: 190px;
    border-radius: 30px;
    border: 3px solid #909090;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 900px;
    margin-left: 720px;
    margin-top: -57px;
}
.d4:hover{
    color: black;
    background-color:#d5ff40;
}
.d5{
    display: flex;
    height: 600px;
    width: 1200px;
    background-color: #d5ff40;
    margin-left: 120px;
    margin-top: 70px;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
}
.diss{
    display: flex;
    align-items: center;
    color:#ef47d6;
    font-size: 80px;
    
}
.footer68{
    height: 325px;
    width:1900px;
    background-color:#171717 ;
}
#footer69{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #c6e654;
    margin-left:-450px;
    margin-top: -90px;
    font-family: sans-serif;
}
#footer69:hover{
    color: aliceblue;
}
#last{
    display: inline-block;
    left: 0;
    color: #d5ff40;
    margin-left: -200px;
    margin-top: 180px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}
#last:hover{
    color: aliceblue;
}
#last1{
      display: inline-block;
    left: 0;
    color: #d5ff40;
    margin-left: 20px;
    margin-top: 180px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}
#last1:hover{
    color: aliceblue;
}
#last2{
       display: inline-block;
    left: 0;
    color: #d5ff40;
    margin-left: 20px;
    margin-top: 180px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 900;
}
#last2:hover{
    color: aliceblue;
}
#last3{
    color: aliceblue;
     font-size: 19px;
    margin-top: 40px;
    margin-left: 320px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#last3:hover{
    color: #7d16f3;
    transition-property: ease-out;
   
}
#c1{
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
    margin-left: 350px;
    line-height: 1.5;
    margin-top: 170px;
}
#c2{
    display: inline-block;
    color: #000000;
    text-align: center;
    margin-top: 500px;
     font-size: 100px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-weight: 900;
}
.talk{
      display: flex;
    text-align: center;
    justify-content: center;
    color: #d5ff40;
   
    background-color: #000000;
    height: 57px;
    width: 190px;
    border-radius: 30px;
    border: 3px solid #000000;
    font-size: 30px;
    font-weight: 900px;
    margin-top: 470px;
    margin-left: -500px;
    font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 900px;
   line-height: 2;
   padding-top: 7px;
}
.talk:hover{
    background-color: #d5ff40;
    color: black;
}
.follow{
      display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    height: 57px;
    width: 190px;
    border-radius: 30px;
    border: 3px solid #000000;
    font-size: 30px;
    font-weight: 900px;
    margin-top: 470px;
    margin-left: -500px;
    font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 900px;
   line-height: 2;
   padding-top: 7px;
   margin-left: 110px;
}
@media(max-width:768px){section p,.d1,.d2,.d3,.d4{width:100%!important;margin:10px 0!important;text-align:left;display:flex;justify-content:center}}

.follow:hover{
    background-color: black;
    color:#d5ff40;
}

